* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
  --color-blue: #16479d;
  --color-dark-blue: #242f91;
  --color-light-cyan: #a2b3ce;
  --color-background: rgba(22, 71, 157, 0.15);
  --color-yellow: #ffd400;
  --color-red: #c03535;
  --color-beige: #fcfcdc;
  --color-white: #ffffff;
}

body {
  background-color: var(--color-background);
}

header {
  background-color: var(--color-yellow);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-blue);
  padding: 0 10%;
}

main {
  display: flex;
}

.logo {
  font-family: "Koulen", cursive;
  font-size: 3.6rem;
}

.total-sales {
  font-weight: 700;
  font-size: 1.6rem;
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.total-sales-number {
  font-size: 2.4rem;
}

aside {
  width: 40%;
  background-color: var(--color-blue);
  height: calc(150vh - 100px);
}

.aside-label-container {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  font-size: 1.6rem;
  border-bottom: 1px solid var(--color-blue);
  cursor: pointer;
}

.aside-label-container:hover {
  color: var(--color-yellow);
  text-decoration: underline;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 9%;
  gap: 10px;
  color: var(--color-white);
}

.form-container button {
  padding: 12px;
}

label {
  font-size: 1.6rem;
}

.gender {
  font-size: 2rem !important;
}

.form-container .title {
  font-size: 2.4rem;
}

.form-container .gender {
  font-size: 1.2rem;
}

.form-container input[type="text"],
.form-container input[type="tel"] {
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-blue);
  padding: 0 10px;
  font-size: 1.6rem;
  color: var(--color-blue);
  background-color: var(--color-beige);
  outline: none;
}

.form-container input[type="text"]::placeholder,
.form-container input[type="tel"]::placeholder {
  color: var(--color-blue);
}

main section {
  padding: 4%;
  width: 100%;
}

.lists-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  width: 100%;
  padding: 15px;
  background-color: var(--color-light-cyan);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-radio {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
}

.with-border {
  border-top: 2px solid var(--color-blue);
}

.list-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-title {
  font-weight: 700;
  font-size: 2.4rem;
}

.list-table-header {
  display: flex;
  width: 100%;
}

.list-table-header p {
  width: 100%;
  font-weight: 700;
  font-size: 1.4rem;
}

.list-table-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-table-row {
  display: flex;
  align-items: center;
}

.list-table-row p {
  width: 100%;
  font-size: 1.4rem;
}

.menu-toggle {
  display: none;
}

.list-actions button {
  padding: 5px 10px;
  border: none;
  color: var(--color-white);
  font-weight: 700;
  background-color: var(--color-red);
}

.list-actions .edit-button {
  background-color: var(--color-dark-blue);
}

.divider {
  height: 4px;
  background-color: #242f91;
}

.contract-title {
  font-size: 2.4rem !important;
}

button {
  cursor: pointer;
}

.menu-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: 1.6rem;
  border-bottom: 1px solid var(--color-blue);
  cursor: pointer;
  margin-top: -62px;
}

.inactive {
  display: none;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  aside {
    display: none;
  }

  .menu-toggle {
    display: block;
    position: relative;
    margin: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  .menu-toggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  .menu-toggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: var(--color-dark-blue);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  .menu-toggle span:first-child {
    transform-origin: 0% 0%;
  }

  .menu-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .menu-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--color-white);
  }

  .menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .menu-toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  .menu-toggle input:checked ~ div {
    transform: none;
  }
}

.form-active {
  display: flex;
}

.form-disable {
  display: none;
}
